.choose-level-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-level{
  background: rbga(22,155,45,0.4);
  border: none;
  font-size: 14px;
  height: 25px;
  padding: 5px;
  width: 100px;
  margin-left: 10px;
}

.choose-level-items {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
}
.choose-button{
  width: 130px;
}

@media only screen and (max-width: 992px) and (orientation: portrait){
  .choose-level-wrap{
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .choose-level-items{
    width: 100%;
  }
}
