.game-wrap{
  width: 100%;
  background: rgba(86, 125, 86, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.game-table-scores{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

@media only screen and (max-width: 992px) and (orientation: portrait){
  .game-table-scores{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

}
