.players-wrap{
  background: rgb(161, 184, 130);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.content-wrap{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.list-wrap{
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 10vh; */
}
.choosen-user{
  width: 100%;
  text-align: center;
  font-size: 24px;
  padding: 3%;
}
.list{
  min-width: 300px;
  overflow-y: auto;
  height: 100%;
  padding: 2%;
  border: 2px solid rgb(23, 88, 47);
  border-radius: 4px;
  max-height: 200px;
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.choose-player{
  width: 100%;
  text-align: center;
  border: 1px solid gray;
  border-radius: 5px;
}

.list-element{
  width: 150px;
  border: 1px solid #adfbff;
  background: #87922e;
  list-style: none;
  cursor: pointer;
  margin-top: 6px;
  font-size: 24px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}
.list-element:hover{
  background: white;
}
.selected{
  background: #638e57 !important;
  color: #FFF;
}
.add-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1%;
}
.add-user-button{
  text-align: center;
  width: 100px;
}

.play-button{
  text-align: center;
  width: 100px;
}

.input-user{
  border-radius: 5%;
  height: 25px;
}
