
.table-row-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #3c3c2a;
  color: rgb(165, 187, 174);
}
.table-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  pointer-events: all;
}
.table-column{
  min-width: 20px;
}
.table-column-open{
  min-width: 70px;
}
.top-score{

}
.icon-image{
  width: 20px;
  cursor: pointer;
  pointer-events: all;
}
.not-see{
  display: none;
}

#graphic{
  background: rgb(2, 80, 73);
}
.canvas-wrap{
  width: 320px;
  display: flex;
  flex-wrap: wrap;
}
#apc{
  background: rgb(2, 80, 73);
}
#ord{
  background: rgb(2, 80, 73);
}
.between-canvas{
  width: 20px;
  height: 20px;
  background: rgb(2, 80, 73);
}
.scores-wrap{
  flex-basis: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.scores-content-wrap{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px
}
.score-table{
  width: 100%;
  height: calc(100px + 8vw);
  overflow-y: scroll;
  position: relative;
  padding-top: 20px;
}
.score-chart{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
.selected-row{
  background: rgb(121,244,54);
}
.table-pagination{
  display: none;
}


@media only screen and (max-width: 992px) and (orientation: portrait){
  .score-table{
    height: 100%;
    overflow-y: visible;
    pointer-events: none;
  }
  .scores-wrap{
    width: 100%;
    height: 100%;
  }
  .scores-content-wrap{
    width: 100%;
    height: 100%;
    justify-content: space-around;
  }
  .score-chart{
    height: 100%;
  }
  .table-pagination{
    display: flex;
    width: 100%;
    height: 30px;
    background: #3c3c2a;
    justify-content: space-around;
    align-items: center;
  }
  .table-pagination-none{
    display: none;
  }
}
