.stats-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stats-items {
  width: 50vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

@media only screen and (max-width: 992px) and (orientation: portrait){
  .stats-wrap {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .stats-items{
    width: 80vw;
  }
}
