.table-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  position: relative;
}
.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.table-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.field {
  width: 4vw;
  height: 4vw;
  background: rgb(90,124,126);
  border: 1px solid black;
}
.layer-above{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  background: rgba(111,111,111,0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.little-popup{
  width: 40vw;
  height: 25vw;
  background: rgb(35, 35, 35);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border: 1px rgb(255,255,255);
  border-radius: 5px;
  text-align: center;
}

@media only screen and (max-width: 992px) {
    .field {
        width:9vw;
        height: 9vw;
    }
}

.field-can-click {
  background: rgb(244, 79, 0) !important;
    cursor: pointer;
}
.field-generated {
  background: rgb(158, 98, 0);
}
.field-clicked {
  background: rgb(150, 137, 131) !important;
}
.first-field {
  background: rgb(255, 0, 112);
}
